@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans';
/* WordPress Core styles */
a img.aligncenter{display:block;margin-left:auto;margin-right:auto}
.wp-caption{text-align:center;padding:5px;}
.wp-caption.alignright{margin:5px 0 20px 20px}
.wp-caption img{border:0 none;height:auto;max-width:98.5%;width:auto;margin:0;padding:0}
.wp-caption p.wp-caption-text{font-weight: bold; color: #4a2829;margin-top: 15px;}
.alignnone,a img.alignnone,.wp-caption.alignnone,.wp-caption.alignleft{margin:5px 20px 20px 0}
.aligncenter,div.aligncenter,.aligncenter{display:block;margin:5px auto}
.alignright,a img.alignright{float:right;margin:5px 0 20px 20px}
.alignleft,a img.alignleft{float:left;margin:5px 20px 20px 0}
/*Padding*/
.nopadding{
  padding:0;
}
.padding10{
  padding: 10px;
}
.padding15{
  padding:15px;
}
.padding20{
  padding: 20px;
}
.padding30{
  padding: 30px;
}
.padding50{
	padding:50px;
}
.paddingtop10{
  padding-top: 10px;
}
.paddingtop15{
  padding-top: 15px;
}
.paddingtop20{
  padding-top: 20px;
}
.paddingtop25{
  padding-top: 25px;
}
.paddingtop30{
  padding-top: 30px;
}
.paddingtop35{
  padding-top: 35px;
}
.paddingtop40{
  padding-top: 40px;
}
.paddingtop45{
  padding-top: 45px;
}
.paddingtop50{
  padding-top: 50px;
}
.paddingtop55{
  padding-top: 55px;
}
.paddingtop60{
  padding-top: 60px;
}
.paddingbottom10{
  padding-bottom: 10px;
}
.paddingbottom15{
  padding-bottom: 15px;
}
.paddingbottom20{
  padding-bottom: 20px;
}
.paddingbottom25{
  padding-bottom: 25px;
}
.paddingbottom30{
  padding-bottom: 30px;
}
.paddingbottom35{
  padding-bottom: 35px;
}
.paddingbottom40{
  padding-bottom: 40px;
}
.paddingbottom45{
  padding-bottom: 45px;
}
.paddingbottom50{
  padding-bottom: 50px;
}
.paddingbottom55{
  padding-bottom: 55px;
}
.paddingbottom60{
  padding-bottom: 60px;
}
.paddingright20{
  padding-right: 20px;
}

/*margin*/
.margintop0{
	margin-top: 0;
}
.margintop10{
  margin-top: 10px;
}
.margintop15{
  margin-top: 15px;
}
.margintop20{
  margin-top: 20px;
}
.margintop25{
  margin-top: 25px;
}
.margintop30{
  margin-top: 30px;
}
.margintop35{
  margin-top: 35px;
}
.margintop40{
  margin-top: 40px;
}
.margintop45{
  margin-top: 45px;
}
.margintop50{
  margin-top: 50px;
}
.margintop55{
  margin-top: 55px;
}
.margintop60{
  margin-top: 60px;
}
.marginbottom10{
  margin-bottom: 10px;
}
.marginbottom15{
  margin-bottom: 15px;
}
.marginbottom20{
  margin-bottom: 20px;
}
.marginbottom25{
  margin-bottom: 25px;
}
.marginbottom30{
  margin-bottom: 30px;
}
.marginbottom35{
  margin-bottom: 35px;
}
.marginbottom40{
  margin-bottom: 40px;
}
.marginbottom45{
  margin-bottom: 45px;
}
.marginbottom50{
  margin-bottom: 50px;
}
.marginbottom55{
  margin-bottom: 55px;
}
.marginbottom60{
  margin-bottom: 60px;
}
.marginright10{
  margin-right: 10px;
}
/* global - contact form 7 */
.wpcf7:before,
.wpcf7:after {
   display: table;
   content: " ";
}
.wpcf7:after {
   clear: both;
}    

span.wpcf7-list-item{  margin-left:0;}

.wpcf7-form-control-wrap{ display: block;}
.wpcf7-form-control-wrap.subscribe,
.do-validation .error, .wpcf7-not-valid, input.wpcf7-mathcaptcha{
   margin-bottom:0;
}

.wpcf7-form-control-wrap + br, .wpcf7-form br { display: none; }
.wpcf7 textarea{
   max-height:80px;  
}
.wpcf7 .global-form textarea{
   max-height:134px;  
}
img.ajax-loader{ margin:0 auto; display:block;}
.wpcf7-response-output{
   clear:both;
   padding: 15px;
   margin-bottom: 20px;
   border: 1px solid transparent;
   border-radius: 4px;
}
.wpcf7-mail-sent-ok{
   color: #3c763d;
   background-color: #dff0d8;
   border-color: #d6e9c6;
}
div.wpcf7-validation-errors{
   color: #a94442;
   background-color: #f2dede;
   border-color: #ebccd1;

}
.wpcf7-form-control.wpcf7-mathcaptcha{
   width:60px;
   display:inline-block;
   margin-right:12px;
}
.wpcf7-form p label{
    font-weight: normal;
}
.wpcf7-form-control{
    width: 100%;
    padding: 5px;
    border: 1px solid #e3e3e3;
}
/* font */
html *{
   color: #000;
   font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #2e2e2e;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 18px;
}
h3{
    font-size: 16px;
}
h4{
    font-size: 15px;
}
p{
    font-size: 14px;
}
button, html input[type=button], input[type=reset], input[type=submit]{
    width: auto;
    background: #ff8901;
    padding: 10px 30px;
    border: 0px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    color: #4a2829;
    text-transform: uppercase;
}
button:hover, html input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover{
    background: #d27000;
    color: #fff;
}
.font-opensans{
    font-family: 'Open Sans', sans-serif;
}
.fontmontserr{
    font-family: 'Montserrat', sans-serif;
}
/* general */
.bg-eaeaea{
    background: #eaeaea;
}
a:hover{
    color: #ff8901;
    text-decoration: none;
}
a{
    cursor: pointer;
}
.mask{
    position: absolute;
    display: table-cell;
    top: 0px;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    zoom: 1;
}
.about-list .mask{
    left: 29%;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
}
/* body */
body{
    background: url("../images/bg-2.jpg") repeat;
}
#main-content{
    background: #fff;
}
/* header */
#top-header, #main-menu, #bottom-footer{
    background: #474747;
}
#header ul,#bottom-footer ul{
    float: right;
}
#header ul li,#bottom-footer ul li{
    float: left;
    margin-right: 20px;
    list-style: none;
}
#header ul li:last-child, #bottom-footer ul li:last-child{
    margin-right: 0px;
}
#header ul.contact-info li, #header ul.contact-info li a{
    color: #ff8901;
}
#header ul.contact-info li i{
    color: #fff;
    margin-right: 5px;
}
#header ul.contact-info li a:after{
    content: "|";
}
#header ul.contact-info li a:last-child:after{
    content: "";
}
#social ul li, #bottom-footer ul li{
    margin-right: 10px;
}
#social span{
    display: none;
}
/* footer */
#top-footer{
    border-top: 2px solid #ff8901;
}
#top-footer h2{
    font-size: 18px;
    margin-top: 0px;
}
.footericon{
    vertical-align: top;
}
.footericon i{
    font-size: 22px;
    color: #ff8901;
}
.footerfact{
    vertical-align: middle;
    padding-left: 20px;
    padding-bottom: 15px;
}
ul.useful-links{
    float: left;
}
ul.useful-links li a{
    display: block;
    margin: 5px 0;
}
ul.useful-links li a:hover ul.useful-links li{
    color: #ff8901;
}
#bottom-footer *{
    color: #fff;
}
#bottom-footer ul span{
    display: none;
}
/* subscriber */
#subscriber{
    display: inline-block;
}
.es_lablebox{
    display: none;
}
.es_textbox, .es_button{
    display: inline-block;
    float: left;
    padding-top: 0px;
    padding-bottom: 0px;
}
.es_textbox_class {
    width: 100%;
    height: 40px;
    background: #ffffff;
    border: none;
    color: #a7a7a7;
    font-style: italic;
    outline: none;
    padding: 0 60px 0 10px;
}
.es_textbox_button{
    background: transparent;
}
/* home page */
/* menu-section */
#menu-section .title{
    display: inline-block;
    float: left;
    background: #2f2e2e;
    border-left: 5px solid #ff8900;
    color: #ffffff;
    font-size: 18px;
    padding: 12.5px 115px 12.5px 24px;
}
#main-menu ul.nav{
    margin-left: 30px;
}
#main-menu ul.nav a{
    padding: 15px 20px;
    color: #fff;
}
#main-menu ul.nav>li>a:focus, #main-menu ul.nav>li>a:hover{
    background: transparent;
    color: #ff8901;
}
#featured-menu-slide{
    background: #e6e6e6;
}
#featured-menu-section{
    width: 26%;
    float: left;
    background: #fff;
    padding-top: 25px;
    padding-bottom: 30px;
    border: 1px solid #d2d2d2;
}
#featured-menu-section ul{
    list-style: none;
}
#featured-menu-section ul li a{
    display: block;
    color: #595959;
    font-weight: bold;
}
/* flexslider */
.flexslider{
    margin-bottom: 0px;
    background: none;
    border: 0px;
}
.flex-caption{
    position: absolute;
    right: 5%;
    top: 70%;
    width: auto;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    background: rgba(0,0,0,.5);
}
.flex-control-nav{
    display: none;
}
#slide-section{
    width: 74%;
    float: left;
}
#main-slider .flex-direction-nav a{
    top: 40%;
    width: 30px;
    height: 100px;
    background: rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0);
    text-shadow: none;
    padding: 40px 11px;
}
#main-slider .flex-direction-nav a:before, 
#main-slider .flex-direction-nav a:after{
    font-size: 12px;
    color: #fff;
}
/* about */
.main-title{
    color: #4a2829;
    font-size: 20px;
}
#about-teak{
    position: relative;
}
#about-teak .mask{
    border: 1px solid #ff8901;
    padding: 15px 20px;
    background: rgba(0,0,0,0.7);
}
#about-teak .mask *{
    color: #fff;
}
#about-teak .mask a:hover{
    color: #ff8901;
}
#about-teak .mask a{
    color: #ff8901
}
#about .list-img{
    position: relative;
}
#about .list-img .mask a{
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 40%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease-in 0.4s;
    -moz-transition: all ease-in 0.4s;
    -ms-transition: all ease-in 0.4s;
    -o-transition: all ease-in 0.4s;
}
#about .list-img a i{
    position: relative;
    padding: 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #ff8901;
}
/* featured section */
#featured-title-wrap{
    background: #f6f6f6;
    overflow: hidden;
    position: relative;
    margin-bottom: 32px;
}
#featured-title-wrap:before{
    content: "";
    width: 100%;
    height: 2px;
    background: #ff8900;
    display: block;
    position: absolute;
    top: 0;
}
#featured-title-wrap h2{
    display: inline-block;
    background: #ff8900;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    height: 41px;
    line-height: 41px;
    margin: 0;
    overflow: hidden;
    padding: 0 38px 0 0;
    position: relative;
    text-transform: uppercase;
}
#featured-title-wrap h2:after{
    border: 4px solid;
    border-color: transparent #ffffff #ffffff transparent;
    bottom: 3px;
    content: "";
    display: block;
    position: absolute;
    right: 3px;
}
.bx-wrapper .bx-viewport{
    left: 0px;
    margin-bottom: 30px;
    box-shadow: none;
    border: 0px;
    background: none;
}
.bx-wrapper .bx-pager{
    display: none;
}
#special-controls{
    display: inline-block;
    float: right;
    margin: 10px;
}
#special-controls li{
    float: left;
    list-style : none;
}
#special-controls li i.fa{
    font-size: 14px;
    margin-top: 4px;
}
#special-controls li i.fa.fa-angle-right{
    margin-left: 5px;
}
#special-controls li i.fa.fa-angle-left{
    margin-right: 5px;
}
#featured-slider li{
    height: 230px;
}
.featured-list{
    height: 236px;
    border: 1px solid #e3e3e3;
    background: url(../images/shadow.png) bottom no-repeat;
}
.featured-list:hover{
    cursor: pointer;
}
.featured-list:hover h3 a{
    color: #ff8901;
}
.featured-list h3{
    font-size: 18px;
}
.featured-list .item-img{
    position: relative;
}
.featured-list .mask a{
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 40%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease-in 0.4s;
    -moz-transition: all ease-in 0.4s;
    -ms-transition: all ease-in 0.4s;
    -o-transition: all ease-in 0.4s;
}
.featured-list .mask a span{
    display: block;
    color: #fff;
}
.featured-list .mask a span i{
    position: relative;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #fff;
}
#notable-clients .view-more{
    position: absolute;
    right: 10px;
    top: 9px;
    background: #777;
    padding: 3px 10px;
    color: #fff;
}
#notable-clients .single{
    text-align: center;
    margin-bottom: 30px;
}
#notable-clients .single img{   
    max-height: 80px;
}
#notable-clients .single h3{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;    
    text-transform: uppercase;
}
#notable-clients .single em{
    font-size: 12px;
    font-style: normal;
}
.home #myCarousel .carousel-inner .item{
    padding: 2% 15%;
    overflow: hidden;
    text-align: center;
}
.home #myCarousel .carousel-inner .item .comment{ 
    font-size: 16px;
}
.home #myCarousel .carousel-inner .item .client-name,
.home #myCarousel .carousel-inner .item .client-position,
.home #myCarousel .carousel-inner .item .client-location{
    font-size: 12px;
    margin-bottom: 0;
    font-weight: bold;
    color: #555;
}
.home #myCarousel .carousel-indicators{
    display: none;  
}
.home #myCarousel .carousel-control{
    background: none;
}
    
/* Pretty Photo */
/*div.pp_default .pp_social{
    display: none;
}*/
/* Mobile Menu */
.navbar-toggle{
    background: #fea;
}
.navbar-toggle .icon-bar{
    background: #ff8901;
}
#menu-mobile-menu.nav>li>a{
    text-transform: uppercase;
    font-weight: bold;
}
/* Responsive CSS ----------- */
@media screen and (max-width: 1252px){ 
    .flex-direction-nav .flex-prev{
        left: 0px;
    }
    .flex-direction-nav .flex-next{
        right: 0px;
    }
}
@media screen and (max-width: 1199px){ 
    #menu-section .title{
        padding: 12.5px 17px 12.5px 17px;
    }
    #main-menu ul.nav{
        margin-left: 10px;
    }
    #main-menu ul.nav a{
        padding: 15px 5px;
    }
    #featured-menu-section{
        width: 20.3%;
        padding-bottom: 13px;
    }
    #featured-menu-section ul li a{
        font-size: 12px;
    }
    #slide-section{
        width: 79.7%;
    }
    .about-list .mask{
        left: 24%;
    }
}
@media screen and (max-width: 992px){
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-collapse{
        padding: 0;
    }
    #mobile-menu{
        margin-top: 50px;
    }
    #mobile-menu li.menu-item .sub-menu li{
        background: #ccc;
        border-color: #e3e3e3;
    }    
    #mobile-menu li.menu-item .sub-menu li:last-child{
        border: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px 0px 0px 0px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    ul#menu-mobile-menu{
        background: #eee;
    }
    #mobile-menu li.menu-item{
        display: block;
        border-bottom: 1px solid #ccc;
    }
    #mobile-menu li.menu-item.current-menu-item a {
        color: #ff8901;
    }
    #slide-section{
        width: 100%;
    }
    #partners img.img-responsive{
        margin-bottom: 20px;
    }
    .about-list .mask{
        left: 21%;
    }
}
@media only screen and (max-width : 990px){
    .about-list .mask{
        left: 15%;
    }
}
@media only screen and (max-width : 768px){
    #about-teak img, .about-list img{
        width: 100%;
        margin-bottom: 20px;
    }
    .about-list .mask{
        display: none;
    }
}
@media screen and (max-width: 610px){ 
    #main-content{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #top-header ul li{
        margin-bottom: 5px;
    }
    #social{
        margin-top: 5px;
        float: right;
    }
    .flex-direction-nav, .flex-caption{
        display: none;
    }
}
@media screen and (max-width: 582px){ 
    #bottom-footer div{
        width: 100%;
        text-align: center;
    }
    #bottom-footer div > ul{
        width: 100%;
    }
    #bottom-footer div > ul li{
        display: block;
        width: 100%;
        text-align: center;
    }
    #bottom-footer ul span{
        display: inline-block;
    }
}
@media screen and (max-width: 568px){ 
    #social ul{
        float: none;
    }
}
@media screen and (max-width: 502px){ 
    #logo, #social{
        width: 100%;
    }
    #social{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    #social ul{
        float: left;
        padding-left: 0px;
    }
    #social span{
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }
}